In [30]:
project='dask'

In [31]:
from dask.distributed import Client

client = Client('192.168.20.73:8786')

In [32]:
from s3fs import S3FileSystem
s3 = S3FileSystem(key='minio', secret='minio123', client_kwargs={'endpoint_url':'http://192.168.20.72:9000'})
# s3.ls('dask-data/nyc-taxi//')

['dask-data/nyc-taxi/yellow_tripdata_2018-01.csv',
 'dask-data/nyc-taxi/yellow_tripdata_2018-02.csv',
 'dask-data/nyc-taxi/yellow_tripdata_2018-03.csv',
 'dask-data/nyc-taxi/yellow_tripdata_2018-04.csv',
 'dask-data/nyc-taxi/yellow_tripdata_2018-05.csv',
 'dask-data/nyc-taxi/yellow_tripdata_2018-06.csv',
 'dask-data/nyc-taxi/yellow_tripdata_2018-07.csv',
 'dask-data/nyc-taxi/yellow_tripdata_2018-08.csv',
 'dask-data/nyc-taxi/yellow_tripdata_2018-09.csv',
 'dask-data/nyc-taxi/yellow_tripdata_2018-10.csv',
 'dask-data/nyc-taxi/yellow_tripdata_2018-11.csv',
 'dask-data/nyc-taxi/yellow_tripdata_2018-12.csv']

In [33]:
import dask.dataframe as dd

df = dd.read_csv('s3://dask-data/nyc-taxi/*.csv',
                 parse_dates=['tpep_pickup_datetime', 'tpep_dropoff_datetime'],
                 storage_options={'key':'minio', 'secret':'minio123', 'client_kwargs':{'endpoint_url':'http://192.168.20.72:9000'}})
df = client.persist(df)

In [34]:
df

Dask DataFrame Structure:
                VendorID tpep_pickup_datetime tpep_dropoff_datetime passenger_count trip_distance RatecodeID store_and_fwd_flag PULocationID DOLocationID payment_type fare_amount    extra  mta_tax tip_amount tolls_amount improvement_surcharge total_amount
npartitions=148
                   int64       datetime64[ns]        datetime64[ns]           int64       float64      int64             object        int64        int64        int64     float64  float64  float64    float64      float64               float64      float64
                     ...                  ...                   ...             ...           ...        ...                ...          ...          ...          ...         ...      ...      ...        ...          ...                   ...          ...
...                  ...                  ...                   ...             ...           ...        ...                ...          ...          ...          ...         ...      ...      ...        ...          ...                   ...          ...
                     ...                  ...                   ...             ...           ...        ...                ...          ...          ...          ...         ...      ...      ...        ...          ...                   ...          ...
                     ...                  ...                   ...             ...           ...        ...                ...          ...          ...          ...         ...      ...      ...        ...          ...                   ...          ...
Dask Name: from-delayed, 148 tasks